a:link {color:#000000;}
a:visited{color:#000000;}
a:active {color:#000000;}
a:hover{color:#000000;}

.v4-server {margin:10px;padding:10px;text-align:center;letter-spacing:3px;text-shadow:2px 2px 4px #cccccc;font-size:290%;font-weight:bold;}
.v4-server a {text-decoration:none;}
.v4-site {margin:10px;padding:10px;text-align:center;}
.v4-site a {text-decoration:none;}

.bonus {margin:10px;padding:10px;text-align:center;}
.bonus img {display:block;max-width:100%;height:auto;}
